body {
   background-image: url("pics/desktop.jpg");
}

.thumbDiv{
    background-color: #FFF;
}

.iconSettings {
    width: 50px;
    height: 50px;
    position: absolute;
    bottom: 0px;  
}

.textSettings {
    position: absolute;
    bottom: 0px;
    left: 200px;
}

#windowDiv{
    width: 50%;
    height: 80%;
    background-color: gray;
}

#windowHeader{
    width: 50%;
    height: 5%;
    
}

#headerText{
    font-family: Verdena;
    
}

#headerImage{
    width: 20px;
    height: 20px;
    margin-right: 0px;
}


#thumbDiv {
    background-color: white;
    border: solid;
    border: 5px;
}

#loadingImage {
    
    width: 20px;
    height: 20px;
    
}