body{
  
    background-color:white;
}

#main{
   display:block;
   background-image: url("pics/desktop.jpg");
  
   width: 1500px;
   height: 750px;
}



.thumbDiv{
    background-color: #FFF;
}

.iconSettings {
    width: 50px;
    height: 50px;
    position: absolute;
    bottom: 0px;  
}

.textSettings {
    position: absolute;
    bottom: 0px;
    left: 200px;
}

#windowDiv{
    width: 400px;
    height: 400px;
    overflow: auto;
    overflow-x: hidden;
    background-color: #bdbdbd;
    border-style: solid;
    border-width: 1px;
}

#windowHeader{
    width: 400px;
    height: 50px;
    background-color: #D3D3D3;
    border-style: solid;
    border-width: 1px;
    font-size: 8px;
    font-family: Verdena;
    
}

#headerText{
    font-family: Verdena;
    
}

#headerImage{
    width: 20px;
    height: 20px;
    margin-right: 0px;
}


#thumbDiv {
    background-color: white;
    border-style: solid;
    border-width: 5px;
}

#loadingImg {
    
    width: 20px;
    height: 20px;
    
}